@font-face {
  font-family: 'MesloLGS';
  src: url('../src/MesloLGSDZ-Regular.ttf') format('truetype');
  /* src: url('../src/MesloLGS NF Regular.ttf') format('truetype'); */
  font-weight: 200 900;
  font-display: swap;
}

body {
  background-color: black;
  padding-left: 2rem;
  font-size: 16px;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Full viewport height */
}

pre {
  margin: 0; /* Remove default margin */
  font-family: 'MesloLGS', monospace;
  font-size: 3.5rem;
  transform: translateY(-2rem);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-optical-sizing: auto;
  font-style: normal;

  letter-spacing: 1;
}
